<!--
<div role="combobox" tabindex="0" aria-autocomplete="none" aria-owns="images-list" aria-expanded="false" aria-required="true" aria-activedescendant="default">
  <div>18 - 25</div>
</div>
<ul class="container" role="listbox" id="images-list">
  <li role="option" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
    <img [src]="'/assets/imgs/planets/planet' + i + '.png'"> Planet {{ i }}
  </li>
</ul>
-->

<button ion-button clear color="light" icon-only (click)="selectBack()"><ion-icon name="arrow-dropleft"></ion-icon></button>
<div class="color-container" [attr.title]="model">
  <div class="planet" [ngClass]="'planet-' + model"></div>
</div>
<button ion-button clear color="light" icon-only (click)="selectNext()"><ion-icon name="arrow-dropright"></ion-icon></button>
