@import '../../theme/variables';

page-play {
  ion-content {
    background: url($imgs-path + 'backgrounds/play-background.png') no-repeat;
    background-size: cover;
  }

  .attack-info {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;

    ion-input {
      line-height: 1em;
    }

    button {
      vertical-align: middle;
    }
  }
}
