@import '../../theme/variables';

$bg-xs: $imgs-path + 'backgrounds/home-background-848x600.png';
$bg-sm: $imgs-path + 'backgrounds/home-background-1366x966.png';
$bg-md: $imgs-path + 'backgrounds/home-background-1920x1357.png';
$bg-lg: $imgs-path + 'backgrounds/home-background-2048x1448.png';
$bg-xl: $imgs-path + 'backgrounds/home-background-3508x2480.png';

page-home {
  ion-content {
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    background-image: url($bg-xs);
    @media (min-width: 849px), (min-height: 601px) {
      background-image: url($bg-sm), url($bg-xs);
    }
    @media (min-width: 1367px), (min-height: 967px) {
      background-image: url($bg-md), url($bg-sm), url($bg-xs);
    }
    @media (min-width: 1921px), (min-height: 1357px) {
      background-image: url($bg-lg), url($bg-md), url($bg-sm), url($bg-xs);
    }
    @media (min-width: 2049px), (min-height: 1449px) {
      background-image: url($bg-xl), url($bg-lg), url($bg-md), url($bg-sm), url($bg-xs);
    }
  }
}
