<div class="map-container">
  <div class="map-grid" [ngClass]="appOptions.graphics">
    <div *ngFor='let row of map?.grid; trackBy: index;' class="map-grid-row">
      <button
        *ngFor='let sector of row; trackBy: index'
        class="map-grid-cell"
        (click)="selectSector(sector)"
        [ngClass]="{active: selectedSector === sector}"
        [attr.tabindex]="sector.planet == null ? -1 : 0"
        [attr.title]="sector.planet == null ? null : 'Planet ' + sector.planet.name + ' of ' + sector.planet.owner.name"
      >
        <div
          class="planet"
          [ngClass]="sector.planet != null ? 'planet-' + sector.planet.owner.look : ''"
        ></div>
        <span class="map-grid-cell-content">{{ getPlanetName(sector.planet) }}<br>{{ getPlanetShips(sector.planet) }}</span>
      </button>
    </div>
  </div>
</div>
