@import '../../../theme/variables';

:host {
  background: url($imgs-path + 'backgrounds/play-background.jpg') no-repeat;
  background-size: cover;
}

ion-content {
  --background: transparent;
  text-align: center;
}
