<div class="map-container">
  <div class="map-grid">
    <div *ngFor='let row of map.grid; trackBy: index;' class="map-grid-row">
      <div
        *ngFor='let sector of row; trackBy: index'
        class="map-grid-cell"
        (click)="selectSector(sector)"
        [ngClass]="{active: selectedSector === sector}"
      >
        <div
          class="map-grid-cell-content"
          [ngClass]="sector.planet != null ? 'planet-look-' + sector.planet.owner.look.name : ''"
          [attr.tabindex]="sector.planet == null ? null : 0"
        >
          {{ sector.planet == null ? '' : sector.planet.name }}
          {{ sector.planet == null ? '' : sector.planet.fleet.shipCount }}
          <!-- <br>
          {{ sector.planet == null ? '' : sector.planet.owner.name }} -->
        </div>
      </div>
    </div>
  </div>
</div>
