@import '../../../theme/variables';

:host {
  background: url($imgs-path + 'backgrounds/play-background.png') no-repeat;
  background-size: cover;
}

ion-content {
  --background: transparent;
}

.color-container {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;

  .theme-2d & {
    padding: 5px;
  }
}

.attack-info {
  line-height: 44px;
  vertical-align: middle;

  ion-input {
    --padding-top: 3px;
    --padding-bottom: 3px;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
  }

  button {
    vertical-align: middle;
  }
}

.change-turn, .change-round {
  text-align: center;
}

.attackFormError {
  color: var(--ion-color-danger);
  text-transform: uppercase;
  font-size: .9em;
}
