<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBackClick($event)">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [ngClass]="appOptions.graphics">
      <span>Turn {{ helper.turnCounter }} of {{ helper.turnPlayer.name }}</span>
      <div class="color-container" [attr.title]="helper.turnPlayer.look">
        <div class="planet" [ngClass]="'planet-' + helper.turnPlayer.look"></div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <!-- CHANGE ROUND VIEW -->
    <ion-row [hidden]="view !== 'change-round'">
      <ion-col size="12" class="change-round">
        <h1 [hidden]="helper.turnCounter <= 1">
          {{ helper.newFights?.length > 0 ? 'Fights!' : 'Dead calm' }}
        </h1>
        <h1 [hidden]="helper.turnCounter > 1">
          Who will be the next<br>
          Emperor of the Galaxy?<br>
          <br>
          <small>
            Every turn you choose how many ships sail
            from what planet to what planet:
            start a fight or send reinforcements.<br>
            Neutral planets and their wealth are waiting you
            to join the fight!<br>
          </small>
          <br>
        </h1>
        <div [hidden]="helper.turnCounter <= 1">
          <div *ngFor='let fight of helper.newFights; trackBy: index'>
            - {{ fightToString(fight) }}
          </div>
        </div>
        <div margin-top>
          <ion-button size="large" (click)="onStartTurn()">{{ helper.turnCounter <= 1 ? 'Start the game' : 'Continue'}}</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- CHANGE TURN VIEW -->
    <ion-row [hidden]="view !== 'change-turn'">
      <ion-col size="12" class="change-turn">
        <h1 [ngClass]="appOptions.graphics">
          <span>Turn {{ helper.turnCounter }}</span>
          <br><br>
          <span>{{ helper.turnPlayer.name }}</span>
          <div class="color-container" [attr.title]="helper.turnPlayer.look">
            <div class="planet" [ngClass]="'planet-' + helper.turnPlayer.look"></div>
          </div>
          <br><br>
          <ion-button size="large" (click)="setView('game')">Play</ion-button>
        </h1>
      </ion-col>
    </ion-row>

    <!-- GAME VIEW -->
    <ion-row [hidden]="view !== 'game'">

      <ion-col size-md="6" size="12">

        <ion-list lines="none" margin-bottom>

          <ion-item [hidden]="helper.attack.focus == null">
            Info Planet {{ helper.attack.focus?.name }} of {{ helper.attack.focus?.owner?.name }}<br>
            Kill percentage: {{ helper.attack.focus?.killPercentage | percent }}<br>
            Production rate: {{ helper.attack.focus?.productionRate }}<br>
          </ion-item>
          <ion-item-divider [hidden]="helper.attack.focus == null"></ion-item-divider>

          <ion-item class="attack-info">
            <form [formGroup]="attackForm" (ngSubmit)="attack()">
              <label>Attack from
                  <ion-input type="text" formControlName="source" clearOnEdit="true"
                  class="ion-input-inline ion-input-underline"
                  [(ngModel)]="attackSource" (ngModelChange)="helper.setSourcePlanet($event)"
                  (click)="$event?.target?.select && $event?.target?.select()"></ion-input>
              </label>
              <label>to
                  <ion-input type="text" formControlName="destination" clearOnEdit="true"
                  class="ion-input-inline ion-input-underline"
                  [(ngModel)]="attackTarget" (ngModelChange)="helper.setDestinationPlanet($event)"
                  (click)="$event?.target?.select && $event?.target?.select()"></ion-input>
              </label>
              <label>with
                <ion-input type="text" formControlName="shipcount" clearOnEdit="true"
                  class="ion-input-inline ion-input-underline"
                  [(ngModel)]="helper.attack.ships"></ion-input>
                ships</label>
              <ion-button margin-start color="danger" type="submit">
                Send
              </ion-button>
            </form>
          </ion-item>
          <div *ngIf="attackFormSubmitted && (!attackForm.valid || attackFormError)" class="attackFormError">
            Attack's data missing or incorrect
          </div>

        </ion-list>
        <ion-list lines="none">

          <ion-item-group>
            <ion-item-divider color="dark"><ion-label>
              Planned attacks ({{ helper.newAttacks?.length }})
            </ion-label></ion-item-divider>
            <ion-item
              *ngFor='let attack of helper.newAttacks; trackBy: index'>
              <ion-button fill="clear" color="danger" slot="start"
                      (click)="cancelAttack(attack)">
                <ion-icon name="close" slot="icon-only"></ion-icon>
              </ion-button>
              <ion-label>
                From {{ attack.source.name }} to {{ attack.destination.name }} with {{ attack.shipCount }} ships, arrive at turn {{ attack.arrivalTurn }}
              </ion-label>
            </ion-item>
          </ion-item-group>

        </ion-list>
        <ion-list lines="none">

          <ion-item-divider color="dark" [hidden]="helper.turnCounter === 1"><ion-label>
            Attacks in progress ({{ helper.attacksList?.length }})
          </ion-label></ion-item-divider>
          <ion-item
            *ngFor='let attack of helper.attacksList; trackBy: index'><ion-label>
            From {{ attack.source.name }} to {{ attack.destination.name }} with {{ attack.shipCount }} ships, arrive at turn {{ attack.arrivalTurn }}
          </ion-label></ion-item>

        </ion-list>
        <hr>
        <div>
          <ion-button (click)="endTurn()">End turn</ion-button>
        </div>
      </ion-col>

      <ion-col size-md="6" size="12">
        <app-game-map
          [map]="helper.map"
          [currentPlayer]="helper.currentPlayer"
          (selectedSector)="mapSelectedSector($event)"></app-game-map>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
