<!--
  Generated template for the SetupLocalGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Setup local game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="'theme-2d'">
  <ion-grid fixed>
    <ion-row>
      <ion-col col-md-6 col-12
               *ngFor='let player of players; trackBy: index; let i = index'
      >
        <form>
          <ion-item>
            <ion-label floating>{{player.neutral ? '&nbsp;' : 'Player ' + i}}</ion-label>
            <ion-input type="text" [(ngModel)]="player.name" [readonly]="player.neutral" name="player{{i}}Name"></ion-input>
            <button *ngIf="!player.neutral"
                    ion-button clear color="danger" icon-only item-end
                    (click)="removePlayer(i)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-item>
          <color-selector
            class="item-md" [ngClass]="{'item-neutral': player.neutral}"
            [(model)]="this.players[i].look"
          ></color-selector>
        </form>
      </ion-col>
      <ion-col col-12>
        <button ion-button color="dark" (click)="addNewPlayer()">Add Player</button>
        <button ion-button (click)="startLocalGame($event)" [disabled]="players.length < 3">Play</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
